{% extends "layout.html" %}

{% block title %}Pokeneas - Inicio{% endblock %}

{% block header %}¡Bienvenido al mundo de los Pokeneas PUES PUES PUES!{% endblock %}

{% block content %}
<h2>Todos los Pokeneas</h2>
<div class="pokeneas-grid">
    {% for item in pokeneas_with_images %}
    <a href="{{ url_for('main.show_pokenea_by_id', pokenea_id=item.pokenea.id) }}" class="pokenea-card">
        <div class="img-container loading">
            <img src="{{ item.image_url }}" alt="{{ item.pokenea.nombre }}"
                onload="this.parentNode.classList.remove('loading')">
        </div>
        <h3>{{ item.pokenea.nombre }}</h3>
    </a>
    {% endfor %}
</div>
{% endblock %}