{% extends "layout.html" %}

{% block title %}{{ pokenea.nombre }} - Pokenea{% endblock %}

{% block header %}{{ pokenea.nombre }}{% endblock %}
{% block subheader %}{% endblock %}

{% block content %}
<div class="img-container loading">
    <img src="{{ image_url }}" alt="{{ pokenea.nombre }}" class="pokenea-img"
        onload="this.parentNode.classList.remove('loading')">
</div>
<div class="frase">
    "{{ pokenea.frase }}"
</div>

<div class="container-id">
    Servido por el contenedor: {{ container_id }}
</div>
{% endblock %}